{% extends "base.html" %} {% block title %}Me gustan{% endblock %} {% block
content %}

<section id="collection" class="py-5 mt-5">
  <div class="title text-center" style="padding-top: 70px">
    <h2 class="position-relative d-inline-block">
      Productos que te han gustado
    </h2>
  </div>

  <div class="container">
    <div class="row g-0">
      <div
        class="d-flex flex-wrap justify-content-center mt-3 filter-button-group"
      >
        <button
          type="button"
          class="btn m-1 text-dark active-filter-btn"
          data-filter="*"
        >
          Todo
        </button>
        {% for main_tag in main_tags %}
        <button
          type="button"
          class="btn m-1 text-dark text-capitalize"
          data-filter=".{{ main_tag.tag_name }}"
        >
          {{ main_tag.tag_name }}
        </button>
        {% endfor %}
        <button type="button" class="btn m-1 text-dark" data-filter=".oferta">
          Ofertas
        </button>
      </div>

      <div class="collection-list mt-4 row gx-0 gy-3">
        {% for product in products %} {% set i = product.id %}
        <div
          class="col-3 shadow bg-body p-3 m-2 rounded {% for tag in product.tags_info %}{{ tag.tag_name }} {% endfor %} {% if product.deal != 0 %} oferta {% endif %}"
        >
          <a name="form-section{{ i }}"></a>
          <div class="collection-img position-relative">
            {% if product.quantity == 0 %}
            <div class="sold-out-overlay">
              <img
                src="{{ url_for('static', filename='images/agotado.png') }}"
                alt="Sold Out"
              />
            </div>
            {% endif %}
            <img
              src="data:image/jpeg;base64,{{ product.image }}"
              style="height: 260px; width: 100%"
              alt="{{ product.product }}"
            />

            <form
              method="POST"
              action="{{ url_for('views.toggle_heart', product_id=product.id) }}#form-section{{ i }}"
            >
              <input
                type="hidden"
                name="product_id_heart"
                value="{{ product.id }}"
              />
              <span
                class="position-absolute d-flex align-items-center justify-content-center text-primary fs-2"
                style="top: 12px; left: 17px"
              >
                <button
                  type="submit"
                  class="btn-outline-none heart-icon"
                  style="
                    color: #e5345b;
                    border-color: transparent;
                    background-color: transparent;
                  "
                  data-product-id="{{ product.id }}"
                >
                  {% if product.heart_info and product.heart_info.heart_state ==
                  "filled" %}
                  <i class="fas fa-heart heart-icon-filled"></i>
                  {% elif product.heart_info and product.heart_info.heart_state
                  == "cracked" %}
                  <i class="fas fa-heart-crack heart-icon-crack"></i>
                  {% else %}
                  <i class="fa-regular fa-heart heart-icon-empty"></i>
                  {% endif %}
                </button>
              </span>
            </form>

            {% if product.deal != 0 %}
            <span
              class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center deal-thing"
            >
              Oferta -{{ product.deal }}%
            </span>
            {% endif %}
          </div>

          <div class="text-center mt-3">
            <p class="text-capitalize mb-1">{{ product.product }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% endblock %}
