{% extends "base.html" %} {% block title %}Iniciar sesión{% endblock %} {% block content %}
<div class="row justify-content-center" style="padding-top: 180px">
  <div class="col-md-6">
      <h1 class="text-center mb-4">Iniciar sesión</h1>
      <form method="POST">          
          <div class="mb-4">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input type="email" class="form-control" id="email" name="email" required>
          </div>
          <div class="mb-4">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="password" name="password" required>
          </div>          
          <div class="text-center">
            <button type="submit" class="btn btn-primary mt-3" style="margin-bottom: 60px">Aceptar</button>
          </div>
      </form>
  </div>
</div>
{% endblock %}
